/* You can add global styles to this file, and also import other style files */
.guest-form-card h2{
  text-transform: uppercase;
  font-size: medium;
}

.guest-form-card label{
  font-size: small;
}
